body {
  text-align: center;
  background-color: #393e46;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Libre Baskerville', serif;
  color: #00adb5;
}

header {
  position: fixed;
  width: 100%;
  z-index:9000;
}

h1 {
  margin-bottom: 70px;
}

/*NAVBAR*/


.topnav {

  overflow: hidden;
  background-color: #222831;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;


}

.topnav a {
  color: #00adb5;
  background-color: #222831;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding: 20px 32px;
  text-decoration: none;
  font-size: 18px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #00adb5;
  color: white;
}

.topnav .icon {
  display: none;
}

/*Image powaas*/
.cover {

  position: relative;
  top: 55px;
  width: 100%;
  height: auto;
}

/*About me*/
.about-section {

  position: relative;
  text-align: center;
  margin-top: 20%;
  padding-top: 8%;
}

.lifestory {
  font-size: 125%;
  width: 90%;
  margin: auto;
}

/*Books*/
.book-section {
  background-color:#2b2f36;
  position: relative;
  height: 900px;
  padding-top: 8%;

}

.row {
  background-color:#2b2f36;
  margin-right: 0;
  margin-left: 0;
}

.coverart, .description, .prices {
  padding: 2% 2% 10%;
}

/*Footer*/
.footer-section {
  border-top: 2px solid #00adb5;
}

.social-icon {
  margin: 20px 30px;
  font-size: 2em;
  color: #00adb5;
}

/*EditingPage*/
.explanation-section{
  position: relative;
  text-align: center;
   margin-top: 500px;
  padding-top: 8%;
}

.package-section {

  position: relative;
  height: 900px;
  padding-top: 8%;
}

.border-line {
  border:1px solid #00adb5;
  padding: 5% 2% 5%;
}

.money-maker{
  background-color:#00adb5;
  color:#120101;
  font-family:'Libre Baskerville';
  font-size:30px;
}

.money-maker:hover{
  background-color:#393e46;
  color:#00adb5;
  border:1px solid #00adb5;
}

.contactr{
  background-color:#2b2f36;
}

.tiny{
  width:70%;
}


/* form */


/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  Body {
    font-size: 20px;
  }
}
