body {
  text-align: center;
  background-color: #120101;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Libre Baskerville', serif;
  color: #aa3737;
}

header {
  position: fixed;
  width: 100%;
}

/*NAVBAR*/
#title {
  z-index: -1;
}

#title .container-fluid {
  background: #1f0002;
}

.colored-section {}

.navbar-brand {
  font-family: 'Libre Baskerville', serif;

  font-size: 2rem;
}

.nav-link {
  margin-right: 50px;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-dark .navbar-brand {
  color: #aa3737;
}

.navbar-dark .navbar-nav .nav-link {
  color: #aa3737;
}

/*Image*/
.cover {
  z-index: -2;
  position: relative;
  top: 55px;
  width: 100%;
  height: auto;
}

/*About me*/
#about {
  z-index: -2;
  position: relative;
  text-align: center;
  margin-top: 20%;
}

.lifestory {

  font-size: 165%;
  text-align: center;
  width: 90%;
  margin: auto;
}

/*Books*/
#books {
  z-index: -2;
  position: relative;
  height: 300px;
  margin-top: 10%;
}

/*Footer*/
#footer {
  margin-top: 10%;
}

.social-icon {
  margin: 20px 30px;
  color: #aa3737;
}
